
.aui .smc-privacy-portlet {

	.privacy-info-message {
		left: 0px;
		right: 0px;
		margin: 0px;
		width: 100%;
		z-index: 3;

		background-color: #5fba98;
		font-size: 12px;
		font-weight: normal;
		line-height: 2;
		margin: 0 auto;
		text-align: center;
		color: #FFF;
		height: auto;
		padding-top: 8px;
		padding-bottom: 8px;

		a.hide-strip-privacy-info-message {
			text-decoration: underline;
		}

		a.open-dialog-privacy-policy {
			text-decoration: underline;
		}

		.privacy-info-message-journal-article {
			display: inline-block;
		}
	}
	
	.privacy-position-top {
		top: 0px;
	}
		
	.privacy-position-bottom {
		bottom: 0px;
	}
	
	.privacy-banner-close {
		padding-right: 6px !important;
		position: absolute;
		right: 0;
	}
	
	.privacy-container {
		display: -webkit-flex;
    	display: flex;
	}
	
	.flex-1 {
	    -webkit-flex: 2;
	    flex: 2;
	    max-width: 1170px;
	    margin-left: auto;
	    margin-right: auto;
	}
}